@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Poppins:ital,wght@1,300&family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(145,0,255,1) 0%, rgba(90,18,121,1) 0%, rgba(121,18,115,1) 0%, rgba(19,181,234,1) 0%, rgba(121,9,115,1) 100%, rgba(161,50,197,1) 100%);

}
table, th, td{
    border: 1px;
    border-collapse: collapse;
}

table{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

th{
    width: 250px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 13px;
}

tr:nth-child(odd){
    background-color: #F6F6F6;
    color: black;
    font-size: 10px;
}
tr:nth-child(3){
    font-weight: bold;
}

tr:nth-child(even){
    background-color: #FFFFFF;
    color: black;
   font-size: 10px;
}
td{
    padding: 10px;
    text-align: center;
}    



